<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/home.css" />
        <script src="/home.js"></script>
		<title>Home</title>
	</head>
	<body>
		<h1>welcome to home</h1>
		<nav>
			<ul>
				<li><a href="/movies">Movies</a></li>
				<li><a href="/seasons">Seasons</a></li>
				<li><a href="/tv">Tv</a></li>
			</ul>
		</nav>
        <p>This is a homework assignment for my cs2610 class. This is my first http webserver. It will send back the appropriate responses based on the request. It is connected to 
            a database that contains the information for the movies, seasons, and tv pages. The home page is just a welcome page with links to the other pages. The movies page will show a list of movies, the seasons page will show a list of seasons, and the tv page will show a list of tv shows. Each page has its own css file that styles the page. 
            The home page also has a js file that logs a message to the console when it is loaded.
        </p>
	</body>
</html>
